/* /src/Components/Progress/Progress.css */
.progress {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
  }
  
  .progress h2 {
    font-size: 28px;
    color: #161A30;
  }
  
  .progress p {
    font-size: 16px;
    color: #555;
    margin: 20px 0;
  }
  
  .progress button {
    background-color: #007bff;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .progress button:hover {
    background-color: #0056b3;
  }
  