.assigned-cases {
    background-color: #161A30; /* Updated background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly darker shadow for emphasis */
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 40px;
    width: 1000px;
    margin-left: 220px;
}

.assigned-cases h2 {
    color: #ecf0f1; /* Light color for text */
    font-size: 28px;
}

.t3 {
    width: 300px;
    border-radius: 18px;
    transition: width 1s;
}

.t3:hover {
    width: 40%; /* Adjusted to hover effect similar to .t2 */
}

.assigned-cases p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    max-width: 800px;
    margin: 20px 0;
    padding-top: 20px;
}

.assigned-cases button {
    background-color: #dfe6e9; /* Updated button background color */
    padding: 12px 24px;
    border: none;
    margin-top: 20px;
    border-radius: 50px;
    color: #2d3436; /* Darker text color for better contrast */
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    transition: background 0.3s;
}

.assigned-cases button:hover {
    background-color: #636d81; /* Same hover color as .message-supervisor */
}
