/* NavTherapist CSS */
.navTherapist {
    z-index: 3;
    position: fixed;
    display: flex;
    background-color: #161A30;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    margin-top: 0;
    height: 80px;
    top: 0;
    width: 100%;
  }
  
  .navTherapist h2 {
    color: #F0ECE5;
  }
  
  .logo {
    padding-left: 21px;
    cursor: pointer;
  }
  
  .nav-links {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-right: 20px;
    list-style: none;
  }
  
  .nav-links li {
    padding: 0 15px;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
    transition: color 0.3s ease;
    color: #F0ECE5;
  }
  
  .nav-links li:hover {
    color: #B6BBC4;
    font-size: large;
  }
  
  .nav-links a {
    color: #F0ECE5;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color: #B6BBC4;
    font-size: large;
  }
  